.idea/workspace.xml
.idea/modules.xml
.idea/vcs.xml
.idea/MangaDownloader.iml
.idea/misc.xml
MMD/__pycache__/utils.cpython-35.pyc
*.pyc
MyMangaDownloader.egg-info/dependency_links.txt
MyMangaDownloader.egg-info/PKG-INFO
MyMangaDownloader.egg-info/requires.txt
MyMangaDownloader.egg-info/entry_points.txt
build/lib/MMD/Domain/domain.py
build/lib/MMD/Domain/__init__.py
dist/MyMangaDownloader-0.0.1-py3.5.egg
build/lib/MMD/utils.py
build/lib/MMD/mmd.py
MyMangaDownloader.egg-info/SOURCES.txt
MyMangaDownloader.egg-info/top_level.txt
*.log
build/lib/MMD/Domain/MangaHere.py
build/lib/MMD/__init__.py